<div id="bigSplash" class="text-dark p-3 m-2 rounded flex-column align-items-center">
    {{!-- {{log done}} --}}
    <h6>{{done.title}}</h6>
    <p> {{done.content}}</p>
    <div class="imgPlaceHolder bg-dark">pic goes here</div>
</div>
