<div class="shortSplash text-dark p-3 m-2 rounded flex-column align-items-center" data-id={{done.id}}>
    <h6>{{done.title}}</h6>
    {{!-- <div class="imgPlaceHolder text-light"> --}}
        <img class="shortSplashImg" data-id={{done.id}} src="{{done.image}}">
</div>

