<form action="Add_bucketItem" method="post">

<h2>Add Drop In Your Bucket</h2>

<p>Bucketlist</p>
<input type="text" name="Drop" placeholder="">
<br>

    <button type="submit">Add A drop</button>
    

</form>



 
