<div class="nav d-flex justify-content-center bg-light p-2 ps-3 pe-3">
    <h4 class="p-0 m-0">"START BUILDING YOUR MEMORIES TODAY!"</h4>
</div>
<div class="container">
    <div class="home col-12 d-flex flex-row justify-content-evenly align-items-center bg-light p-2">
        <img class="quill" src="images/quill.png" alt="Icon made by Freepik at flaticon.com">
        <h3 class="col-7 m-2 p-3">
            "Are you interested in connecting with others around the world on a DEEPER LEVEL? Join the many users who have already begun and continue to grow their MOI-ME-RIES!""
        </h3>
        <a href="/login">
            <button class="join bg-dark text-light m-15">
                <h3>JOIN/LOGIN</h3>
            </button>
        </a>
    </div>
</div>

