<div class="nav d-flex justify-content-center bg-light p-2 ps-3 pe-3">
    <h4 class="p-0 m-0">"START BUILDING YOUR MEMORIES TODAY!"</h4>
</div>
<div id="hompageMain" class="container pt-3 pb-3">
    <div class="home flex-row justify-content-evenly align-items-center bg-transparent p-4 m-5">
        <h3 class="text col-7 m-2 p-2 rounded"><b>
            "Are you interested in connecting with others around the world on a DEEPER LEVEL? Join the many users who have already begun and continue to grow their MOI-ME-RIES!"
        </b></h3>
        <div class="col-3 ms-auto text-center">
            <img class="quill" src="images/quill.png" alt="Icon made by Freepik at flaticon.com">
            <br><br>
            <a href="/login">
                <button class="join join-login bg-dark text-light pe-2">
                    <h3>JOIN/LOGIN</h3>
                </button>
            </a>
        </div>
    </div>
</div>

