
<h2 id="form_title">Login</h2>


<p>Enter Your Email</p>
<input id="email" type="text" name="email" placeholder="Email">
<br>
<p>Enter Your Password</p>
<input id="password" type="text" name="password" placeholder="Password">

<div id="login_form_div">
    <br>
    <button id="login" >Login</button>
    <p><a href="#" onclick="toggle_form('signup'); return false;">
    Create Your Account
    </a></p>
</div>

<div id="signup_form_div" style="display:none">
    <p>Name</p>
    <input id="name" type="text" name="name" placeholder="Your Name Here">
    <br>
    <button id="signup" >Sign Up</button>
    <p><a href="#" onclick="toggle_form('login'); return false;">
    Enter Your Login</a></p>
</div>

<script>

function toggle_form(f) {

    if (f == "signup") {

        document.getElementById("form_title").innerHTML = "New User Sign Up";

        document.getElementById("login_form_div").style.display = "none";
       
        document.getElementById("signup_form_div").style.display = "block";

    } 
    else  {

        document.getElementById("form_title").innerHTML = "Login";

        document.getElementById("login_form_div").style.display = "block";
      
        document.getElementById("signup_form_div").style.display = "none";

    }


}


</script>
<script src="/js/logIn.js"></script>
