<div class="nav d-flex justify-content-center bg-light p-2 ps-3 pe-3">
    <h4 class="p-0 m-0">"START BUILDING YOUR MEMORIES TODAY!"</h4>
</div>

<div id="loginMain" class="container p-3">
    <div class="home d-flex flex-column justify-content-evenly align-items-center bg-light p-2 m-2 w-25 rounded">

        <h3 id="form_title">Login</h3>
        <p>Enter Your Email</p>
        <input id="email" type="text" name="email" placeholder="Email">
        <br>
        <p>Enter Your Password</p>
        <input id="password" type="text" name="password" placeholder="Password">

        <div id="login_form_div" class="text-center">
            <br>
            <button id="login" >Login</button>
            <br><br>
            <p class="loginLink text-primary mb-0">
                Create Your Account
            </p>
        </div>

        <div id="signup_form_div" class="text-center">
            <p>Name</p>
            <input id="name" type="text" name="name" placeholder="Your Name Here">
            <br><br>
            <button id="signup" class="">Sign Up</button>
            <br><br>
            <p class="signupLink text-primary mb-0">
                Enter Your Login
            </p>
        </div>
    </div>
</div>

<script src="/js/logIn.js"></script>
