<form action="login" method="post">

<h2 id="form_title">Login</h2>

<p>Enter Your Username</p>
<input type="text" name="username" placeholder="Username">
<br>
<p>Enter Your Password</p>
<input type="text" name="password" placeholder="Password">

<div id="login_form_div">
    <br>
    <button type="submit" id="login" >Login</button>
    <p><a href="#" onclick="toggle_form('signup'); return false;">
    Create Your Account
    </a></p>
</div>

<div id="signup_form_div" style="display:none">
    <p>Name</p>
    <input type="text" name="name" placeholder="Your Name Here">
    <br>
    <button type="submit" id="signup" >Sign Up</button>
    <p><a href="#" onclick="toggle_form('login'); return false;">
    Enter Your Login</a></p>
</div>

</form>

<script>

function toggle_form(f) {

    if (f == "signup") {

        document.getElementById("form_title").innerHTML = "New User Sign Up";

        document.getElementById("login_form_div").display = "none";
       
        document.getElementById("signup_form_div").display = "block";

    } 
    else  {

        document.getElementById("form_title").innerHTML = "Login";

        document.getElementById("login_form_div").display = "block";
      
        document.getElementById("signup_form_div").display = "none";

    }


}


</script>
