body {
    font-family: 'Allerta Stencil', sans-serif;
}

h1 {
    font-size: 100px;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -14px;
    box-shadow: 1px 10px 25px 0 black;
}

.top {
    padding: 15px 0 0 10px;
    background-image: linear-gradient(rgba(248, 11, 11, 100%),  rgba(12, 9, 188, 20%)); 
}

main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/pexels-artem-beliaikin-2106776.jpg');
    background-position: center;
    background-size: cover;
}

.nav {
    box-shadow: 0 1px 6px 0 black;
}

.text {
    background-color: rgba(255, 255, 255, 0.5);
}

.aside {
    width: 25%;
    margin: 10px 10px 10px 0;
    box-shadow: 1px 7px 6px 0 black;
}

.section {
    width: 75%;
    margin: 10px;
    box-shadow: 1px 7px 6px 0 black;
}

.home {
    margin: 10px;
    box-shadow: 1px 7px 6px 0 black;
}

.join {
    height: 40px;
}

.quill {
    border-radius: 17%;
    padding: 10px;
    background-image: linear-gradient(rgba(248, 11, 11, 100%),  rgba(12, 9, 188, 20%));
}

.bucket {
    background-color: rgba(12, 9, 188, 20%);
}

.new {
    background-image: linear-gradient(rgba(12, 9, 188, 20%), rgba(248, 11, 11, 100%));
}

form {
    margin-top: 15px;
}

#bigSplash {
    display: none;
}

.shortSplash{
    background-image: linear-gradient(rgba(12, 9, 188, 20%), rgba(248, 11, 11, 100%));
    cursor: pointer;
}

.imgPlaceHolder{
    height: 200px;
    width: 200px;
}

img {
    border: 1px solid rgba(12, 9, 188, 20%); 
    border-radius: 4px;  
    padding: 5px; 
    height: 200px;
    width: 200px;
}

#bigSplash {
    background-image: linear-gradient(rgba(12, 9, 188, 20%), rgba(248, 11, 11, 100%));
}
  
#bigSplashImage:hover {
    box-shadow: rgba(248, 11, 11, 100%);
    transform: scale(3);
}