body {
    font-family: 'Allerta Stencil', sans-serif;
}

h1 {
    font-size: 100px;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -14px;
    box-shadow: 1px 10px 25px 0 black;
}

.top {
    padding: 15px 0 0 10px;
    background-image: linear-gradient(rgba(248, 11, 11, 100%),  rgba(12, 9, 188, 20%)); 
}

main {
    /* background-image: linear-gradient(45deg, rgba(0, 0, 0, 0%), rgba(0, 0, 0, 75%)); */
    height: 131vh;
    width: 100%;
    background-image: url('../images/pexels-artem-beliaikin-2106776.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

.nav {
    box-shadow: 0 1px 6px 0 black;
}

.text {
    background-color: rgba(255, 255, 255, 0.5);
}
#loginMain{
    height: 83vh;
}
.aside {
    width: 25%;
    margin: 10px 10px 10px 0;
    box-shadow: 1px 7px 6px 0 black;
}

.section {
    width: 75%;
    margin: 10px;
    box-shadow: 1px 7px 6px 0 black;
}

.home {
    margin: 10px;
    box-shadow: 1px 7px 6px 0 black;
    display: flex;
}

.join {
    height: 40px;
}

.quill {
    border-radius: 17%;
    padding: 10px;
    background-image: linear-gradient(rgba(248, 11, 11, 100%),  rgba(12, 9, 188, 20%));
}
.form-width{
    width:25%;
    background-color:#f8f9fa;
}

.bucket {
    background-color: rgba(12, 9, 188, 20%);
}

.bucket-page{
    display: flex;
}

.new {
    background-image: linear-gradient(rgba(12, 9, 188, 20%), rgba(248, 11, 11, 100%));
}

form {
    margin-top: 15px;
}
#upLoadInput{
    width: 240px;
}

#bigSplash {
    display: none;
}

.shortSplash{
    background-image: linear-gradient(rgba(12, 9, 188, 20%), rgba(248, 11, 11, 100%));
    cursor: pointer;
}

.imgPlaceHolder{
    height: 200px;
    width: 200px;
}

img {
    border: 1px solid rgba(12, 9, 188, 20%); 
    border-radius: 4px;  
    padding: 5px; 
    height: 200px;
    width: 200px;
}

#bigSplash {
    background-image: linear-gradient(rgba(12, 9, 188, 20%), rgba(248, 11, 11, 100%));
}
.bigSplash-vh{
    height: 88vh;
}
.big-Splash-Main{
    display: flex;
}
#bigSplashImage:hover {
    box-shadow: rgba(248, 11, 11, 100%);
    transform: scale(3);
   

}

/* #homepageMain {
    margin: 5px;
} */
@media (max-width: 375px){
    h1 {
        font-size: 50px;
        padding: 10px;
        margin: auto;
    }
    .circle {
        height: 40px;
        width: 40px;
        margin-bottom: -4px;
    }
    h4{
    padding: 3px;
    margin: 3px;
    font-size: 16px;
    text-align: center;
    }
    
    .quill {
        height: 100px;
        width: 100px;
        margin-left: -153px;
        margin-top: 14px;
    }
    #hompageMain{
        /* margin-left: -11px; */
        height: 82vh;
    }
    .home {
        margin-top: 14px;
        margin-left: auto;
        display: block;
    }
    .col-7 {
        width: 100%
    }
    .text{
        font-size: 17px;
    }
    .join-login{
        margin-left: -155px;
    }
    #loginMain{
        height: 83vh;
    }
    .form-width{
        width: 100%;
        background-color: #f8f9fa38;
        margin: 0;
    }
    .bucket-page{
        display: block;
    }
    .aside {
        width: 95%;
        margin: 10px;
    }
    .section {
        width: 95%;
        height: 180vh;
    }

   .big-Splash-Main{
        display: block;
        
    }
    .section .big-Splash-Main
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
    }
    .section .big-Splash-Main h4
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
        font-size: 18px;
    }
    #bigSplashImage:hover {
        transform: scale(1);
    }

    .photo-form{
        display: flex;
        flex-direction: column;
    }

    .photo-form input {
        margin: 10px;
    }
    #upLoadInput{
        width: 330px;
    }
    
    .newSplash{
        width: 200px;
        margin: auto;
    }

}

@media (max-width: 414px){
    h1 {
        font-size: 50px;
        padding: 10px;
        margin: auto;
    }
    .circle {
        height: 40px;
        width: 40px;
        margin-bottom: -4px;
    }
    h4{
    padding: 3px;
    margin: 3px;
    font-size: 16px;
    text-align: center;
    }
    
    .quill {
        height: 100px;
        width: 100px;
        margin-left: -153px;
        margin-top: 14px;
    }
    #hompageMain{
        /* margin-left: -11px; */
        height: 82vh;
    }
    .home {
        margin-top: 14px;
        margin-left: auto;
        display: block;
    }
    .col-7 {
        width: 100%
    }
    .text{
        font-size: 17px;
    }
    .join-login{
        margin-left: -155px;
    }
    #loginMain{
        height: 83vh;
    }
    .form-width{
        width: 100%;
        background-color: #f8f9fa38;
        margin: 0;
    }
    .bucket-page{
        display: block;
    }
    .aside {
        width: 95%;
        margin: 10px;
    }
    .section {
        width: 95%;
        height: 180vh;
    }

   .big-Splash-Main{
        display: block;
        
    }
    .section .big-Splash-Main
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
    }
    .section .big-Splash-Main h4
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
        font-size: 18px;
    }
    #bigSplashImage:hover {
        transform: scale(1);
    }

    .photo-form{
        display: flex;
        flex-direction: column;
    }

    .photo-form input {
        margin: 10px;
    }
    #upLoadInput{
        width: 330px;
    }
    
    .newSplash{
        width: 200px;
        margin: auto;
    }

}

/*---------------- iPad size ----------*/
@media (max-width: 768px){    
    .quill {
        height: 150px;
        width: 150px;
        margin-left: -70px;
        margin-top: 14px;
    }
    #hompageMain{
        /* margin-left: -11px; */
        height: 82vh;
    }
    .home {
        margin-top: 18px;
       
    }
    .join-login{
        margin-left: -75px;
    }
    #loginMain{
        height: 83vh;
    }
    .form-width{
        width: 100%;
        background-color: #f8f9fa38;
        margin: 0;
    }
    .aside {
        width: 30%;
        margin: 10px;
    }
    .section {
        width: 70%;
    }

}
