body {
    font-family: 'Allerta Stencil', sans-serif;
}

.loggedInH1 {
    font-size: 81px;
}

.loggedOutH1 {
    font-size:100px
}

.circle1 {
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -11px;
    box-shadow: 1px 10px 25px 0 black;
}

.circle2 {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -14px;
    box-shadow: 1px 10px 25px 0 black;
}

.top {
    padding: 15px 0 20px 10px;
    background-image: linear-gradient(rgba(248, 11, 11, 100%),  rgba(12, 9, 188, 20%)); 
}

main {

    position: absolute;
    top: 143px;
    left: 0;
    right: 0;
    bottom: -400px;
    background-image: url('../images/pexels-artem-beliaikin-2106776.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

.nav {
    box-shadow: 0 1px 6px 0 black;
}

.text {
    background-color: rgba(255, 255, 255, 0.5);
}

.aside {
    width: 25%;
    margin: 10px 10px 10px 0;
    box-shadow: 1px 7px 6px 0 black;
}

.section {
    width: 75%;
    margin: 10px;
    box-shadow: 1px 7px 6px 0 black;
}

.home {
    margin: 10px;
    box-shadow: 1px 7px 6px 0 black;
    display: flex;
}

.join {
    height: 40px;
}

.quill {
    border-radius: 17%;
    padding: 10px;
    background-image: linear-gradient(rgba(248, 11, 11, 100%),  rgba(12, 9, 188, 20%));
}
.form-width{
    width:35%;
    background-color:#f8f9fa;
}

.bucket {
    background-color: rgba(12, 9, 188, 20%);
}

.bucket-page{
    display: flex;
}

.new {
    background-image: linear-gradient(rgba(12, 9, 188, 20%), rgba(248, 11, 11, 100%));
}

form {
    margin-top: 15px;
}
#upLoadInput{
    width: 240px;
}

#bigSplash {
    display: none;
}


.shortSplash{
    background-image: linear-gradient(rgba(12, 9, 188, 20%), rgba(248, 11, 11, 100%));
    cursor: pointer;
}

.imgPlaceHolder{
    height: 200px;
    width: 200px;
}

img {
    border: 1px solid rgba(12, 9, 188, 20%); 
    border-radius: 4px;  
    padding: 5px; 
    height: 200px;
    width: 200px;
}

#bigSplash {
    background-image: linear-gradient(rgba(12, 9, 188, 20%), rgba(248, 11, 11, 100%));
}

.big-Splash-Main{
    display: flex;
}
#bigSplashImage:hover {
    box-shadow: rgba(248, 11, 11, 100%);
    transform: scale(3);
}

@media screen and (max-width: 1024px){
    .quill {
        height: 150px;
        width: 150px;
        margin-left: -70px;
        margin-top: 14px;
    }
    .form-width{
        width: 40%;
        margin: 0;
    }
} 

@media screen and (max-width: 993px){
    .quill {
        height: 150px;
        width: 150px;
        margin-left: -70px;
        margin-top: 14px;
    }
    .home {
        margin-top: 18px;
       
    }
    .join-login{
        margin-left: -75px;
    }
}
@media screen and (max-width: 893px){
    #bigSplashText{
    font-size: 12px;
    }
}

/*---------------- iPad size ----------*/
@media screen and (max-width: 768px){  
    
    .quill {
        height: 150px;
        width: 150px;
        margin-left: -70px;
        margin-top: 14px;
    }

    .home {
        margin-top: 18px;
       
    }
    .join-login{
        margin-left: -75px;
    }

    .form-width{
        width: 53%;
        margin: 0;
    }
    .aside {
        width: 30%;
        margin: 10px;
    }
    .section {
        width: 70%;
    }

}

@media screen and (max-width: 730px){
    .photo-form{
    display: flex;
    flex-direction: column;
    }
    .photo-form input {
    margin: 10px;
    }
    #upLoadInput{
    width: 398px;
    }
    .newSplash{
    width: 200px;
    margin: auto;
    }
}
@media screen and (max-width: 675px){
     .loggedInH1 {
        font-size: 70px;
        margin-bottom: -4px;
        text-align: center;
    }
    
    .loggedOutH1 {
        font-size: 70px;
        margin-bottom: -4px;
        text-align: center;
    }
    
    .circle1 {
        height: 50px;
        width: 50px;
        margin-bottom: 0;
    }
    
    .circle2 {
        height: 50px;
        width: 50px;
        margin-bottom: 0;
    }  
    .nav{
        margin-top: -42px;
     }  
     .quill {
        height: 150px;
        width: 150px;
        margin-left: -70px;
        margin-top: 14px;
    }

    .home {
        margin-top: 18px;
       
    }
    .join-login{
        margin-left: -75px;
    }
}
@media screen and (max-width: 677px){
    .nav {
        margin-top: -19px;
    }
}
@media screen and (max-width: 660px){
    #upLoadInput {
        width: 347px;
    }
}

@media screen and (max-width: 644px){
    .big-Splash-Main{
        display: block;
        
    }
    .section .big-Splash-Main
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
    }
    .section .big-Splash-Main h4
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
        font-size: 18px;
    }
    #bigSplashImage:hover {
        transform: scale(1);
    }
}
@media screen and (max-width: 590px){
    #upLoadInput {
        width: 329px;
    }
}
@media screen and (max-width: 547px){
    .loggedInH1 {
        font-size: 45px;
        margin-bottom: -4px;
        text-align: center;
    }
    
    .loggedOutH1 {
        font-size: 45px;
        margin-bottom: -4px;
        text-align: center;
    }
    
    .circle1 {
        height: 35px;
        width: 35px;
        margin-bottom: 0;
    }
    
    .circle2 {
        height: 35px;
        width: 35px;
        margin-bottom: 0;
    }
    .nav{
        margin-top: -10px;
    }
    main{
        top: 80px;
        bottom: -200%;

    }
    h4{
    padding: 3px;
    margin: 3px;
    font-size: 16px;
    text-align: center;
    }
    .name-users{
        font-size: 16px;
        margin-bottom: -15px;
    }
    
    .quill {
        height: 100px;
        width: 100px;
        margin-left: -274px;
        margin-top: 14px;
    }
    .home {
        margin-top: 14px;
        margin-left: auto;
        display: block;
    }
    .col-7 {
        width: 100%
    }
    
    .text{
        font-size: 17px;
    }
    .join-login{
        margin-left: -280px;
    }
    
    .form-width{
        width: 55%;
        margin: 0;
    }
    .bucket-page{
        display: block;
    }
    .aside {
        width: 95%;
        margin: 10px;
    }
    .section {
        width: 95%;
        height: auto;
    }

   .big-Splash-Main{
        display: block;
        
    }
    .section .big-Splash-Main
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
    }
    .section .big-Splash-Main h4
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
        font-size: 18px;
    }
    #bigSplashImage:hover {
        transform: scale(1);
        
    }

    .photo-form{
        display: flex;
        flex-direction: column;
    }

    .photo-form input {
        margin: 10px;
    }
    #upLoadInput{
        width: 435px;
    }
    
    .newSplash{
        width: 200px;
        margin: auto;
    }
}
@media screen and (max-width: 530px){
    #upLoadInput {
        width: 419px;
    }
        .form-width {
            width: 55%;
    }
 
}
@media screen and (max-width: 499px){

    .form-width {
        width: 65%;
}
}
@media screen and (max-width: 473px){
    #upLoadInput {
        width: 364px;
    }
}
/* -------iPhone 6/7/8 Plus size------- */
@media screen and (max-width: 414px){
    .loggedInH1 {
        font-size: 40px;
        margin-bottom: -4px;
        text-align: center;
    }
    
    .loggedOutH1 {
        font-size: 40px;
        margin-bottom: -4px;
        text-align: center;
    }
    
    .circle1 {
        height: 30px;
        width: 30px;
        margin-bottom: 0;
    }
    
    .circle2 {
        height: 30px;
        width: 30px;
        margin-bottom: 0;
    }
    .nav{
        margin-top: -10px;
    }
    main{
        top: 80px;
        bottom: -200%;

    }
    h4{
    padding: 3px;
    margin: 3px;
    font-size: 16px;
    text-align: center;
    }
    .name-users{
        font-size: 16px;
        margin-bottom: -15px;
    }
    
    .quill {
        height: 100px;
        width: 100px;
        margin-left: -170px;
        margin-top: 14px;
    }
    
    .home {
        margin-top: 14px;
        margin-left: auto;
        display: block;
    }
    .col-7 {
        width: 100%
    }
    
    .text{
        font-size: 17px;
    }
    .join-login{
        margin-left: -175px;
    }
    
    .form-width{
        width: 95%;
        margin: 0;
    }
    .bucket-page{
        display: block;
    }
    .aside {
        width: 95%;
        margin: 10px;
    }
    .section {
        width: 95%;
        height: auto;
    }

   .big-Splash-Main{
        display: block;
        
    }
    .section .big-Splash-Main
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
    }
    .section .big-Splash-Main h4
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
        font-size: 18px;
    }
    #bigSplashImage:hover {
        transform: scale(1);
    }
#bigSplashText{
    font-size: 11px;
}
    .photo-form{
        display: flex;
        flex-direction: column;
    }

    .photo-form input {
        margin: 10px;
    }
    #upLoadInput{
        width: 309px;
    }
    
    .newSplash{
        width: 200px;
        margin: auto;
    }
}


/* -------iPhon X size-------- */
@media screen and (max-width: 375px){
    
    .loggedInH1 {
        font-size: 40px;
        margin-bottom: -4px;
    }
    
    .loggedOutH1 {
        font-size: 40px;
        margin-bottom: -4px;
    }
    
    .circle1 {
        height: 30px;
        width: 30px;
        margin-bottom: 0;
    }
    
    .circle2 {
        height: 30px;
        width: 30px;
        margin-bottom: 0;
    }
    .nav{
        margin-top: -10px;
    }
    main{
        top: 80px;
        bottom: -200%;

    }
    h4{
    padding: 3px;
    margin: 3px;
    font-size: 16px;
    text-align: center;
    }
    .name-users{
        font-size: 16px;
        margin-bottom: -7px;
    }
    
    .quill {
        height: 100px;
        width: 100px;
        margin-left: -153px;
        margin-top: 14px;
    }
    
    .home {
        margin-top: 14px;
        margin-left: auto;
        display: block;
    }
    .col-7 {
        width: 100%
    }
    
    .text{
        font-size: 17px;
    }
    .join-login{
        margin-left: -155px;
    }
    
    .form-width{
        width: 95%;
        margin: 0;
    }
    .bucket-page{
        display: block;
    }
    .aside {
        width: 95%;
        margin: 10px;
    }
    .section {
        width: 95%;
        height: auto;
    }

   .big-Splash-Main{
        display: block;
        
    }
    .section .big-Splash-Main
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
    }
    .section .big-Splash-Main h4
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
        font-size: 18px;
    }
    #bigSplashImage:hover {
        transform: scale(1);
    }

    .photo-form{
        display: flex;
        flex-direction: column;
    }

    .photo-form input {
        margin: 10px;
    }
    #upLoadInput{
        width: 273px;
    }
    
    .newSplash{
        width: 200px;
        margin: auto;
    }

}

@media screen and (max-width: 320px){
    
    .loggedInH1 {
        font-size: 40px;
        margin-bottom: -4px;
    }
    
    .loggedOutH1 {
        font-size: 40px;
        margin-bottom: -4px;
    }
    
    .circle1 {
        height: 30px;
        width: 30px;
        margin-bottom: 0;
    }
    
    .circle2 {
        height: 30px;
        width: 30px;
        margin-bottom: 0;
    }
    .nav{
        margin-top: -10px;
    }
    main{
        top: 80px;
        bottom: -226%;

    }
    h4{
    padding: 3px;
    margin: 3px;
    font-size: 16px;
    text-align: center;
    }
    .name-users{
        font-size: 16px;
        margin-bottom: -7px;
    }
    
    .quill {
        height: 90px;
        width: 90px;
        margin-left: -109px;
        margin-top: 14px;
    }
    
    .home {
        margin-top: 14px;
        margin-left: auto;
        display: block;
    }
    .col-7 {
        width: 100%
    }
    
    .text{
        font-size: 14px;
    }
    .join-login{
        margin-left: -114px;
        font-size: 19px;
    }
    
    .form-width{
        width: 95%;
        margin: 0;
    }
    .bucket-page{
        display: block;
    }
    .aside {
        width: 95%;
        margin: 10px;
    }
    .section {
        width: 95%;
        height: auto;
    }

   .big-Splash-Main{
        display: block;
        
    }
    .section .big-Splash-Main
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
    }
    .section .big-Splash-Main h4
    {
        margin-left: inherit;
        margin-top: inherit;
        text-align: left;
        font-size: 18px;
    }
    #bigSplashImage:hover {
        transform: scale(1);
    }

    .photo-form{
        display: flex;
        flex-direction: column;
    }

    .photo-form input {
        margin: 10px;
    }
    #upLoadInput {
        width: 220px;
    }
    
    .newSplash{
        width: 200px;
        margin: auto;
    }

}
@media screen and (max-width: 280px){
    .nav{
        margin-top: -10px;
    }
    .quill {
        height: 80px;
        width: 80px;
        margin-left: -76px;
        margin-top: 14px;
    }
    .join-login {
        margin-left: -100px;
        font-size: 19px;
    }
    .form-width{
        width: 99%;
        margin: 0;
    }
    #upLoadInput {
        width: 182px;
    }
}
